.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  background-color: #31a8ff;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 20px;
  overflow: hidden;
}

.App-header > .main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header > .main-info > span {
  margin: 10px 0;
  font-size: 48px;
}

.App-header > .main-info > button {
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 5px;
  background-color: #f09f02;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.App-header > .main-info > button:hover {
  background-color: #f09f02;
  color: #eee;
  opacity: 1;
}

.App-header > .main-info > figure {
  margin: 10px;
  width: 100px;
  height: 100px;
}

img {
  width: 100%;
  height: auto;
}

.App-header > .main-info > p {
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.App-header > .main-info > .condition {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}

.App-header > .extra-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 124px));
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  width: 80%;
  height: 20%;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  color: #000;

  text-align: center;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.App-header > .extra-info > span {
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 770px) {
  .App-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .App-header > .extra-info {
    max-width: 350px;
  }
}
